<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


</head>
<body>

<div class="w3-container">


  <h1> Display All Routes For Driver </h1>

  <ul class="w3-navbar w3-light-grey w3-border">

    <li class="active"><a href = "/">Home</a></li>
    <li><a href = "{{ url_for('new_driver') }}">New Driver</a></li>
    <li><a href = "{{ url_for('new_order') }}">New Order</a></li>
    <li><a href = "{{ url_for('display_orders') }}"> Show Routes for Drivers</a></li>

  </ul>

    <p>
    <p>

    <div>

      <p> Choose a driver. (Driver ID, First Name, Delivery Zone)</p>
      <br>
      <form>

        <select name="date">

          {% for date in Workload %}

          <option value="{{ date.date }}" selected>{{ date.date }}</option>

          {% endfor %}
        </select>

        <select name="driver">

          {% for driverID in driver_records %}

          <option value="{{ driverID.id }}" selected>{{ driverID.id }}, {{ driverID.first_name }}, {{ driverID.delivery_zone}}</option>

          {% endfor %}
        </select>

          <input type="submit" value="Submit" />

      </form>
    </div>
    <br>

    <div class="w3-row">

      <div class="w3-half w3-container">
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-blue">
              <th>OrderID</th>
              <th>From</th>
              <th>Address</th>
              <th>City</th>
              <th>Zip Code</th>
            </tr>
          </thead>

          {% for order in Pickup %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.city }}</td>
              <td>{{ order.zip_code }}</td>

            </tr>
          {% endfor %}

        </table>
      </div>

      <div class="w3-half w3-container">
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-blue">
              <th>OrderID</th>
              <th>To</th>
              <th>Address</th>
              <th>City</th>
              <th>Zip Code</th>
            </tr>
          </thead>

          {% for order in Delivery %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.city }}</td>
              <td>{{ order.zip_code }}</td>
            </tr>
          {% endfor %}

        </table>

      </div>
  </div>

</div>
</body>
</html>
