<!DOCTYPE html>
<html lang="en">
<head>

  <title> Dispatcher Web Application </title>

  <meta charset="UTF-8">

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


  <div>

    <ul class="w3-navbar w3-light-grey w3-border">

      <li><a href = "/">Home</a></li>
      <li><a href = "{{ url_for('new_driver') }}">New Driver</a></li>




    </ul>

    {% for driver in drivers %}

    <pre>

      {{ driver.id }}
      {{ driver.first_name }}
      {{ driver.last_name }}

    </pre>

    {% endfor %}

  </div>


</head>

<body>

</html>
