<!DOCTYPE html>
<html lang="en">
<head>

  <title> Dispatcher Web Application </title>

  <meta charset="UTF-8">

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

</head>

<body>

  <div class="w3-container">

    <h2> Home Page </h2>

    <div>

      <ul class="w3-navbar w3-light-grey w3-border">

        <li><a href = "/">Home</a></li>
        <li><a href = "{{ url_for('new_driver') }}">New Driver</a></li>
        <li><a href = "{{ url_for('new_order') }}">New Order</a></li>
        <li><a href = "{{ url_for('display_orders') }}"> Show Routes for Drivers</a></li>
        <li><a href = "{{ url_for('manage_daily_orders') }}"> Manage Daily Routes</a></li>

      </ul>

    </div>

    <div class="w3-continer">
      <br>

      <div class="w3-half w3-container">

        <table class="w3-table-all w3-hoverable">
          <thead> List of Drivers currently on duty </thead>
            <tr class="w3-light-blue">
              <th>DriverID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Delivery Zone</th>
            </tr>
          </thead>

          {% for driver in drivers %}
            <tr>
              <td>{{ driver.id }}</td>
              <td>{{ driver.first_name }}</td>
              <td>{{ driver.last_name }}</td>
              <td>{{ driver.delivery_zone }}</td>
            </tr>
          {% endfor %}

        </table>

        </div>

    </div>

  </div>
</body>

</html>
