<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



</head>
<body>

<div class="w3-container">


  <h1> Manage Daily Routes </h1>

  <ul class="w3-navbar w3-light-grey w3-border">

    <li class="active"><a href = "/">Home</a></li>
    <li><a href = "{{ url_for('new_driver') }}">New Driver</a></li>
    <li><a href = "{{ url_for('new_order') }}">New Order</a></li>
    <li><a href = "{{ url_for('display_orders') }}"> Show Routes for Drivers</a></li>
    <li><a href = "{{ url_for('manage_daily_orders') }}"> Manage Daily Routes</a></li>

  </ul>

    <p>
    <p>

    <div>

      <h4> Total Stops For Day: {{ date }}</h4>

    </div>

    <p> This page lets you reassign drivers and delete orders for today. </p>
    <div>

      {% for driver in total_stops%}
      <h4> Total Stops For Day: {{ driver.del_num }}</h4>
      {% endfor %}

    </div>

    <div class="w3-row">

      <div class="w3-half w3-container">
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-blue">
              <th>Driver ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Delivery Zone</th>
            </tr>
          </thead>

          {% for driver in driver_records %}
            <tr>
              <td>{{ driver.id }}</td>
              <td>{{ driver.first_name }}</td>
              <td>{{ driver.last_name }}</td>
              <td>{{ driver.delivery_zone }}</td>
            </tr>
          {% endfor %}

        </table>
      </div>

      <div class="w3-half w3-container">
        <p>

          Zone 1 : North Metro <br>
          Zone 2 : West Metro <br>
          Zone 3 : South Metro <br>
          Zone 4 : East Metro <br>
          Zone 5 : Central Metro <br>

        </p>
      </div>

    </div>

    <br>
    <p> The full days orders, some listed drivers may not be currently working </p>

    <div class="w3-row">

      <div class="w3-half w3-container">
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-blue">
              <th>OrderID</th>
              <th>From</th>
              <th>Address</th>
              <th>City</th>
              <th>Zip Code</th>
              <th>Driver ID</th>
            </tr>
          </thead>

          {% for order in Pickup %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.city }}</td>
              <td>{{ order.zip_code }}</td>
              <td>{{ order.driverID }}</td>

            </tr>
          {% endfor %}

        </table>
      </div>

      <div class="w3-half w3-container">
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-blue">
              <th>OrderID</th>
              <th>To</th>
              <th>Address</th>
              <th>City</th>
              <th>Zip Code</th>
              <th>Driver ID</th>

            </tr>
          </thead>

          {% for order in Delivery %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.city }}</td>
              <td>{{ order.zip_code }}</td>
              <td>{{ order.driverID }}</td>

            </tr>
          {% endfor %}

        </table>

      </div>
  </div>
  <br>
  <div class="w3-row">
    <p> To assign a new driver select the order number and enter the new driver id.</p>

    <div class="w3-container w3-third">
      <form action="{{ request.path }}" method="post">

        <select class="w3-select w3-border" name="order_id_update">

          {% for order in orders %}

          <option value="{{ order.id }}">{{ order.id }}</option></br>

          {% endfor %}

        </select>
        <br>

        <input class="w3-input w3-border" type="number" name="new_driver" placeholder="new driver" /></br>

        <input type="submit" name = "button" value="Update Order" /></br>

      </form>
    </div>

    <br>
    <div class="w3-row">
      <p> To delete and order select it's id number.</p>

      <div class="w3-container w3-third">
        <form action="{{ request.path }}" method="post">

          <select class="w3-select w3-border" name="order_id_delete">

            {% for order in orders %}

            <option value="{{ order.id }}">{{ order.id }}</option></br>

            {% endfor %}

          </select>
          <br>

          <input type="submit" name = "button" value="Delete Order" /></br>

        </form>
      </div>
  </div>
  <br>

  <div class="w3-row w3-display-container">

    <p> To show directions for an order select it's order id and click the button.</p>

    <div class="w3-container w3-third">
    <form action="{{ request.path }}" method="post">

      <select class="w3-select w3-border" name="Directions">

        {% for order in orders %}

        <option value="{{ order.id }}">{{ order.id }}</option></br>

        {% endfor %}

      </select>
      <br>

      <input type="submit" name = "button" value="Directions" /></br>

    </form>
    </div>

    <div class="w3-container w3-half w3-display-right">

      {% if center %}

      <iframe src="https://www.google.com/maps/embed/v1/view?key={{ key }}&center={{ center }}&zoom=10" height="400" width="600"></iframe>

      {% else %}

    <!-- <a href="https://www.google.com/maps/dir/{{ origin }}/{{ dest }}">Directions Link</a> -->
    <iframe src="https://www.google.com/maps/embed/v1/directions?origin={{ origin}}&destination={{ dest }}&key={{ key }}" height="400" width="600"></iframe>

      {% endif %}
    </div>

  </div>


</div>
</body>
</html>
