<!DOCTYPE html>
<html lang="en">
<head>

  <title> Dispatcher Web Application </title>

  <meta charset="UTF-8">

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

  <form action="{{ request.path }}" method="post">
    First name:<br>
    <input type="text" name="first" placeholder="first name" /></br>
    Last name:<br>
    <input type="text" name="last" placeholder="last name" /></br>
    Address:<br>
    <input type="text" name="address" placeholder="address" /></br>
    City:<br>
    <input type="text" name="city" placeholder="city" /></br>
    Zipcode:<br>
    <input type="text" name="zipcode" placeholder="zipcode" /></br>
    Truck Number:<br>
    <input type="number" name="truck" placeholder="truck number" /></br>
    Start Time:<br>
    <input type="time" name="start_time" /></br>
    End Time:<br>
    <input type="time" name="end_time" /></br>
    <p>
    <input type="submit" name = "button" value="Add" /></br>
  </form>



</head>

<body>

</html>
